*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess
writable/cache/*
writable/session/*
writable/logs/*
.env
writable/debugbar/*
.idea/*
.prettierrc.json

*.DS_Store
writable/log/*
writable/cache/*
writable/uploads/*
.htaccess
writable/.htaccess
.vs/
.vs/slnx.sqlite*
.vs/co-care/v17/*
.vs/*
app/Views/encounters/ncm-checklist (2).php
SQL_Files/cocare_dev_datamodel_may.png
SQL_Files/cocare_dev_datamodel_May.sql
SQL_Files/cocare_dev_datamode_oldl.sql
SQL_Files/cocare_dev_datamodel_old.sql
public/js/encounters/edit-encounter (2).js
public/js/encounters/edit-encounter (3).js
SQL_Files/cocare_dev_datamodel_*.*
writable/logs/*
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/co-care/v17/.wsuo
.vs/co-care/v17/DocumentLayout.json
app/Views/patient/tst_delete.php
app/Views/encounters/ncm-checklist_Delete.php
.vs/co-care/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/co-care/v17/.wsuo
.vs/co-care/v17/DocumentLayout.json
env - Copy.env
.env_copy.env
.vs/co-care/v17/DocumentLayout.json
