version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8008:80"
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=Password
      - MYSQL_DATABASE=vtcs

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootPassword
      MYSQL_DATABASE: vtcs
      MYSQL_USER: vtcs
      MYSQL_PASSWORD: Password
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
